*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #390D02;
  --bg: thistle;
  --piff: magenta;
}

body {
  font-family: 'Cookie', cursive;
  color: var(--text);
  background-color: var(--bg);
  margin: 2rem;
  line-height: 1.5;
}

main {
  max-width: 70ch;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 4rem;

  text-align: center;
  white-space: nowrap;

  text-decoration: underline dotted var(--text);
}

h2 {
  font-weight: 500;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.todo-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.todo-form input,
.todo-form select,
.todo-form button {
  padding: 0.6rem;
  font-size: 1.5rem;
  border: 1px solid #390D02;
  border-radius: 5px;
  font-family: 'Cookie', cursive;
}

button {
  background-color: #390D02;
  color: var(--bg);
}

.todo-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-list ul {
  list-style: none;
  width: 100%;
  max-width: 500px;
  background: white;
  border: 2px dotted #390D02;
  border-radius: 10px;
  padding: 1rem;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: gainsboro;
}

.todo-list li {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 0.5rem;
  font-size: 130%;
  border-bottom: 1px solid gainsboro;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #390D02;
  opacity: 0.7;
}

footer {
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .todo-form form {
    flex-direction: row;
    max-width: 700px;
  }

  .todo-form input {
    flex: 2;
  }

  .todo-form select {
    flex: 1;
  }

  .todo-form button {
    flex: 1;
  }
}