*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: black;
  --bg: thistle;
  --piff: magenta;
}

body {
  font-family: 'Cookie', cursive;
  color: var(--text);
  background-color: var(--bg);
  margin: 2rem;
  line-height: 1.5;
}

main {
  max-width: 70ch;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  margin: 1rem;
}

footer {
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  margin-top: 2rem;
}